header {
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $base-border-color;
  background-color: $blue;
  ul {
    padding: 0;
    @include outer-container;
    @include media($large-screen-up) {
      max-width: 80%;
    }
  }
  li {
    padding: 0;
    display: inline-block;
    margin-right: 1em;
    .page-title {
      font-size: modular_scale(2);
      font-weight: 600;
    }
    a {
      color: white;
      &:hover {
        color: darken(white, 15%);
      }
    }
  }
}
