@charset "utf-8";
// Open Sans Font. This can be altered in _variabless.scss
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

// Potential Colors
$green: #3cbc8d;
$dark:  #253a49;
$coral: #e37568;

// Third Party Imports
@import "vendor/normalize";

// Thoughtbot Imports
@import "bourbon";
@import "base/base";
@import "neat";

// Boilermaker Imports
@import "boilermaker/layout";
@import "boilermaker/typography";

// Partials Imports
@import "partials/nav";
@import "partials/footer";
@import "partials/blog";

// Modules Imports
@import "modules/article";
@import "modules/cards";
@import "modules/helpers";
@import "modules/comments";
@import "modules/tasks";

// Your scss can go here below

.nav-top {
  margin-bottom: 1em;

  li {
    padding: 0;
    font-size: modular_scale(1);
    margin-right: 1em;

    // Display Properties
    display: inline-block;
  }
}
