@charset "utf-8";
/* Open Sans Font. This can be altered in _variabless.scss*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/* Potential Colors*/
$green: #3cbc8d;
$dark:  #253a49;
$coral: #e37568;

/* Third Party Imports*/
@import "vendor/normalize";

/* Thoughtbot Imports*/
@import "bourbon";
@import "base/base";
@import "neat";

/* Boilermaker Imports*/
@import "boilermaker/layout";
@import "boilermaker/typography";

/* Partials Imports*/
@import "partials/nav";
@import "partials/footer";
@import "partials/blog";

/* Modules Imports*/
@import "modules/article";
@import "modules/cards";
@import "modules/helpers";
@import "modules/comments";
@import "modules/tasks";
@import "modules/tasks";
@import "modules/nav-top";
@import "modules/wiki";

/* Your scss can go here below*/

.user-page-left {
  padding: 1em;
  margin-bottom: modular_scale(1);

  @include span_columns(10);
  @include media($medium-screen-up) {
    @include span_columns(4);
  };
  @include media($large-screen-up) {
    @include span_columns(3);
  };

  .row {
    border-bottom: 1px solid $secondary-background-color;
    padding-bottom: modular_scale(-1);
    margin-bottom: modular_scale(-1);
  }

  .figure {
    @include span_columns(4);
    @include media($medium-screen-up) {
      @include span_columns(12);
    }
  }

  .figcaption {
    @include span_columns(8);
    @include media($medium-screen-up) {
      @include span_columns(12);
    }
  }

  img {
    width: 100%;
  }
  h2 {
    font-weight: 300;
  }

  h4 {
    margin: 5px 0;
  }
  .bio {
    font-weight: 300;
    padding: 5px;
  }
  ul {
    padding-left: modular_scale(0);
  }
  li {
    list-style: none;
    padding-bottom: modular_scale(0);

    @include media($medium-screen-up) {
      padding-bottom: modular_scale(-2);
    };
  }
  .email {
    font-size: modular_scale(-1);
    i {
      font-size: modular_scale(0);
    }
  }
}

.user-page-right {
  @include span_columns(12);
  @include media($medium-screen-up) {
    @include span_columns(8);
  };
  @include media($large-screen-up) {
    @include span_columns(7);
  };
  ul {
    padding-left: 0;
    @include media($small-screen-down) {
      margin-left: 5px;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  hr {
    margin: modular_scale(-2) auto;
    width: 66%;
    color: $secondary-background-color;
  }
}

.user-page-task {
  background-color: $secondary-background-color;
  border-bottom: 0;

  .section-left {
    align-items: center;
    i {
      padding: 0;
    }
  }
  .section-right {
    align-items: center;
  }
}
