---
title: Tasks | Home | BuzzHub
---

<main>

  <nav class="nav-top">
    <ul class="list-inline">
      <li><a href="/" class="active"><i class="fa fa-home"></i> Daplgray</a></li>
      <li><a href="#"><i class="fa fa-book"></i> Wiki</a></li>
      <li><a href="#"><i class="fa fa-building-o"></i> Organization</a></li>
      <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
    </ul>
  </nav>
  <!-- h1, where we are -->
  <h1>Home / <i class="fa fa-heartbeat"></i> Tasks</h1>

  <section class="dock-nav dock-nav-tasks">
    <div class="card">

      <!-- Top of the Card -->
      <div class="card-top">
        <div class="left">
          <p><a href="/">Site</a></p>
          <p><a href="#" class="active"><i class="fa fa-heartbeat"></i> Tasks</a><span class="badge">3</span></p>
          <p><a href="#">Team</a></p>
        </div>
        <button type="button" name="button"><i class="fa fa-plus"></i> <span class="visible-md">New Task</span></button>
      </div>

      <div class="card-body">

        <nav class="nav-tasks-filters">
          <div class="tasks-left">
            <a href="#"><i class="fa fa-exclamation-circle"></i> 2 Open</a>
            <a href="#" class="faded"><i class="fa fa-check"></i> 1 Closed</a>
          </div>
          <div class="tasks-right">
            <p><small><i class="fa fa-user"></i> <span class="visible-md">Assignee</span></small></p>
            <p><small><i class="fa fa-comment"></i> <span class="visible-md">Comments</span></small></p>
          </div>
        </nav>

        <section>
          <div class="section-left">
            <i class="fa fa-exclamation-circle"></i>
            <div class="tasks-text">
              <p><a href="/task-show">Add New Hire Manual to wiki</a></p>
              <p><small>Opened 2 days ago by Nicole Orange</small></p>
            </div>
          </div>
          <div class="section-right">
            <a href="#"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt="Bret" class="img-circle"></a>
            <p><small><i class="fa fa-comment"></i> 3</small></p>
          </div>
        </section>

        <section>
          <div class="section-left">
            <i class="fa fa-exclamation-circle"></i>
            <div class="tasks-text">
              <p><a href="/task-show">Share Zapier docs to ops team</a></p>
              <p><small>Opened 3 days ago by Riley Willis</small></p>
            </div>
          </div>
          <div class="section-right">
            <a href="#"><img src="https://randomuser.me/api/portraits/women/35.jpg" alt="Riley" class="img-circle"></a>
            <p><small><i class="fa fa-comment"></i> 2</small></p>
          </div>
        </section>

        <section>
          <div class="section-left">
            <i class="fa fa-exclamation-circle"></i>
            <div class="tasks-text">
              <p><a href="/task-show">Welcome new hires 🎉</a></p>
              <p><small>Opened 3 days ago by Richard Alvarez</small></p>
            </div>
          </div>
          <div class="section-right">
            <a href="#"><img src="https://randomuser.me/api/portraits/men/71.jpg" alt="Richard" class="img-circle"></a>
            <p><small><i class="fa fa-comment"></i> 14</small></p>
          </div>
        </section>


      </div>

    </div>
  </section>

</main>
