---
title: Home | BuzzHub
---

<main>
  <nav class="nav-top">
    <ul class="list-inline">
      <li><a href="/" class="active"><i class="fa fa-home"></i> Daplgray</a></li>
      <li><a href="/wiki"><i class="fa fa-book"></i> Wiki</a></li>
      <li><a href="#"><i class="fa fa-building-o"></i> Organization</a></li>
      <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
    </ul>
  </nav>
  <h1>Home</h1>

  <section class="dock-nav doc-nav-page">
    <div class="card">
      <div class="card-top">
        <div class="left">
          <p><a href="#" class="active">Site</a></p>
          <p><a href="/home-tasks-index"><i class="fa fa-heartbeat"></i> Tasks </a><span class="badge">3</span></p>
          <p><a href="#">Team</a></p>
        </div>
        <button type="button" name="button"><i class="fa fa-plus"></i><span class="visible-md"> Create</span></button>
      </div>

      <div class="card-body">
        <span class="settings-button"><button class="btn-faded"><i class="fa fa-cog"></i> settings</button></i></span>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Marketing</a></p>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Sales</a></p>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Operations</a></p>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Biz-Dev</a></p>
        <p><a href="/marketing-playbook"><i class="fa fa-file"></i> Help</a></p>
        <p><a href="#"><i class="fa fa-folder-o"></i> Docs</a></p>

      </div>

    </div>
  </section>

  <article class="article card">
    <button class="btn-faded edit-content"><i class="fa fa-pencil"></i> edit</button>
    <button class="btn-faded save-content"><i class="fa fa-floppy-o"></i> save</button>
    <h2>BuzzHub</h2>
    <p>BuzzHub is GitHub without the Git. It is a design concept by David Ray to bring the project management and communication features of GitHub to a any small to medium sized business. The four main concepts that were extracted are <strong>Document Creation</strong>, <strong>Wiki</strong>, <strong>Issues</strong> (called <strong>Tasks</strong> here), and <strong>Document Storage/Management</strong>. BuzzHub is designed to compete in the same project management software as <a href='https://basecamp.com/'>Basecamp</a> and <a href='https://products.office.com/en-us/sharepoint/collaboration'>Sharepoint</a>. It&#39;s follows <a href='https://slack.com/'>Slack</a>&#39;s model of bringing IRC chat to non-technical people in a friendly, well designed SaaS model. BuzzHub can provide an asynchronous backend to Slack&#39;s synchronous chat communication. </p>
    <h3>Document Creation</h3>
    <p>One of the most important files in every GitHub repo is the README.md. It&#39;s an incredibly straightforward document that often provides instructions, announcements or links to other documents throughout the repo.</p>
    <p>GitHub text documents are written in Markdown, which is a very easy language for developers to understand and use, but it is a little complicated for the average non-technical user. BuzzHub is designed to provide as little friction as possible and to get people writing and communicating. So instead of Markdown processing, BuzzHub uses a <a href='http://medium.com'>Medium</a> style editor, which is a lot easier for the non-technical user. Feel free to give it a shot! Click the &quot;edit&quot; button in the upper right corner and start typing and highlighting text on this document.</p>
    <p><strong>More About Documents</strong> </p>
    <p>For BuzzHub, it doesn&#39;t end with just the frontpage README. Users can create Pages (Like our <a href='/marketing-playbook'>Marketing Playbook</a>), this is a simple document that might contain a meeting agenda or a &quot;How To&quot; of a specific procedure. These documents are collaberative and living, easily accessable and easy enough for anyone to write.</p>
    <p>Users can create new Spaces (like our <a href='/marketing-site'>Marketing group</a>). Spaces are like nested repos inside of larger repos. Each Space can have more Spaces or Pages inside of them.</p>
    <h3>Wiki</h3>
    <p>The <a href='/wiki'>Wiki</a> documenting company policies, procedures, or any other use. Pages can easily be created and linked together. There is also a customizable sidebar and footer for the Wiki.</p>
    <h3>Tasks</h3>
    <p>In GitHub, these are called Issues, but BuzzHub refers to them as <a href='/home-tasks-index'>Tasks</a>. Each Space gets its own Tasks section and users can view the tasks they&#39;re assigned to or have created from their <a href='/user-page'>Profile</a> page. </p>
    <h3>Document Storage/Management</h3>
    <p>While BuzzHub is just a design concept, a feature that it could have is the ability to upload and store files, or also link to other cloud storage services like Dropbox, Box &amp; Google Drive.</p>
    <p>Take a look around and if you have any comments, contact me at <a href='mailto://David.Ray.WC@gmail.com' target='_blank' >David.Ray.WC@gmail.com</a></p>
  </article>

</main>
