---
title: Add New Hire manual | Tasks | BuzzHub
---

<main>

  <nav class="nav-top">
    <ul class="list-inline">
      <li><a href="/" class="active"><i class="fa fa-home"></i> Daplgray</a></li>
      <li><a href="#"><i class="fa fa-book"></i> Wiki</a></li>
      <li><a href="#"><i class="fa fa-building-o"></i> Organization</a></li>
      <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
    </ul>
  </nav>
  <!-- h1, where we are -->
  <h1>Home / <i class="fa fa-heartbeat"></i> Tasks</h1>

  <section class="dock-nav dock-nav-tasks">
    <div class="card">

      <!-- Top of the Card -->
      <div class="card-top">
        <div class="left">
          <p><a href="/">Site</a></p>
          <p><a href="/home-tasks-index" class="active"><i class="fa fa-heartbeat"></i> Tasks</a><span class="badge">3</span></p>
          <p><a href="#">Team</a></p>
        </div>
        <button type="button" name="button"><i class="fa fa-plus"></i><span class="visible-md"> New Task</span></button>
      </div>

    </div>
  </section>

  <div class="row">
    <section class="task-show-heading">
      <div class="left">
        <h2>Add New Hire Manual to wiki</h2>
        <div class="sub-heading">
           <p><small><span class="badge"><i class="fa fa-exclamation-circle"></i><span class="visible-md"> Open</span></span> 2 days ago by <a href="#">Nicole Orange</a></small></p>
        </div>
      </div>
      <div class="right">
        <h3>Assignee:</h3>
        <div class="sub-heading">
          <a href="#"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt="Bret Parsley" class="img-circle"></a>
          <a href="#"><span class="visible-md">Bret Parsley</span></a>
        </div>
      </div>
    </section>
  </div>

  <section class="row comment comment-lead">
    <div class="figure">
      <a href="#"><img src="https://randomuser.me/api/portraits/women/93.jpg" alt="Nicole Orange" class="img-circle"></a>
    </div>
    <article class="card">

      <div class="comment-top">
        <p class="faded"><span class="visible-md">Nicole Orange </span>commented 2 days ago</p>
        <div class="buttons">
          <button class="btn-faded">+ <i class="fa fa-smile-o"></i></button>
          <button class="btn-faded"><i class="fa fa-pencil"></i></button>
        </div>
      </div>

      <div class="card-body">
        <p><strong>Hey There</strong></p>
        <p>This is me typing here.</p>
      </div>

    </article>
  </section>

  <div class="vr"></div>
  <section class="row comment comment-response">
    <div class="figure">
      <a href="#"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt="Bret Parsley" class="img-circle"></a>
    </div>
    <article class="card">

      <div class="comment-top">
        <p class="faded"><span class="visible-md">Bret Parsley </span>commented 2 days ago</p>
        <div class="buttons">
          <button class="btn-faded">+ <i class="fa fa-smile-o"></i></button>
          <button class="btn-faded"><i class="fa fa-pencil"></i></button>
        </div>
      </div>

      <div class="card-body">
        <p>This sounds great. I'm on it!</p>
      </div>

    </article>
  </section>

  <div class="vr"></div>
  <section class="row comment comment-response">
    <div class="figure">
      <a href="#"><img src="https://randomuser.me/api/portraits/women/33.jpg" alt="Judy Maybell" class="img-circle"></a>
    </div>
    <article class="card">

      <div class="comment-top">
        <p class="faded"><span class="visible-md">Judy Maybell </span>commented 1 day ago</p>
        <div class="buttons">
          <button class="btn-faded">+ <i class="fa fa-smile-o"></i></button>
          <button class="btn-faded"><i class="fa fa-pencil"></i></button>
        </div>
      </div>

      <div class="card-body">
        <p>Bret, thanks for taking care of this. Let me know if there are any questions and I will be happy to help.</p>
        <p>- Judy</p>
      </div>

    </article>
  </section>

</main>
