<main>
  <h1>My Profile</h1>
  <section class="row">
    <div class="user-page-left card">
      <div class="row">
        <div class="figure">
          <img src="https://avatars1.githubusercontent.com/u/8698445?v=3&s=460" alt="David Ray" class="img-circle">
        </div>

        <div class="figcaption">
          <h2>David Ray</h2>
          <h3>DavidRay23</h3>
          <h4>Design + Code</h4>
        </div>
      </div>

      <p class="bio">My name is David Ray, I designed this website and I'm available for hire.</p>
      <p class="email"><i class="fa fa-envelope-o"></i> : <a href="#">David.Ray.WC@gmail.com</a></p>
      <p class="email"><i class="fa fa-slack"></i> : <a href="#">DavidRay</a></p>
      <p class="email"><i class="fa fa-github"></i> : <a href="http://github.com/david-ray-wc">David-Ray-WC</a></p>
      <h3>Projects:</h3>
      <ul>
        <li><a href="/">Daplgray</a></li>
      </ul>
    </div>
    <div class="user-page-right">

      <ul class="list-inline">
        <li>
          <h2><a href="#" class="active"><i class="fa fa-exclamation-circle"></i> Open Tasks</a></h2>
        </li>
        <li>
          <h2><a href="" class="faded"><i class="fa fa-check"></i> Closed Tasks</a></h2>
        </li>
      </ul>

      <ul class="list-inline">
        <li><a href="#">Assigned to me</a></li>
        <li><a href="#" class="faded">Created by me</a></li>
      </ul>

      <section class="tasks-section user-page-task">
        <div class="section-left">
          <i class="fa fa-exclamation-circle"></i>
          <div class="tasks-text">
            <p><a href="/task-show">Add New Hire Manual to wiki</a></p>
            <p><small>Opened 2 days ago by <a href="#">Nicole Orange</a></small></p>
            <p><small><strong>Project: <a href="#">Daplgray</a></strong></small></p>
          </div>
        </div>
        <div class="section-right">
          <a href="#"><img src="https://avatars1.githubusercontent.com/u/8698445?v=3&s=460" alt="David Ray" class="img-circle"></a>
          <p><small><i class="fa fa-comment"></i> 3</small></p>
        </div>
      </section>
      <hr>

      <section class="tasks-section user-page-task">
        <div class="section-left">
          <i class="fa fa-exclamation-circle"></i>
          <div class="tasks-text">
            <p><a href="/task-show">Share Zapier docs to ops team</a></p>
            <p><small>Opened 3 days ago by <a href="#">Riley Willis</a></small></p>
            <p><small><strong>Project: <a href="#">Daplgray</a></strong></small></p>
          </div>
        </div>
        <div class="section-right">
          <a href="#"><img src="https://avatars1.githubusercontent.com/u/8698445?v=3&s=460" alt="David Ray" class="img-circle"></a>
          <p><small><i class="fa fa-comment"></i> 2</small></p>
        </div>
      </section>
      <hr>

      <section class="tasks-section user-page-task">
        <div class="section-left">
          <i class="fa fa-exclamation-circle"></i>
          <div class="tasks-text">
            <p><a href="/task-show">Welcome new hires 🎉</a></p>
            <p><small>Opened 3 days ago by <a href="">Richard Alvarez</a></small></p>
            <p><small><strong>Project: <a href="#">Daplgray</a></strong></small></p>
          </div>
        </div>
        <div class="section-right">
          <a href="#"><img src="https://avatars1.githubusercontent.com/u/8698445?v=3&s=460" alt="David Ray" class="img-circle"></a>
          <p><small><i class="fa fa-comment"></i> 14</small></p>
        </div>
      </section>
      <hr>

      <section class="tasks-section user-page-task">
        <div class="section-left">
          <i class="fa fa-exclamation-circle"></i>
          <div class="tasks-text">
            <p><a href="/task-show">Welcome new hires 🎉</a></p>
            <p><small>Opened 3 days ago by <a href="">Richard Alvarez</a></small></p>
            <p><small><strong>Project: <a href="#">Daplgray</a></strong></small></p>
          </div>
        </div>
        <div class="section-right">
          <a href="#"><img src="https://avatars1.githubusercontent.com/u/8698445?v=3&s=460" alt="David Ray" class="img-circle"></a>
          <p><small><i class="fa fa-comment"></i> 14</small></p>
        </div>
      </section>
      <hr>

      <section class="tasks-section user-page-task">
        <div class="section-left">
          <i class="fa fa-exclamation-circle"></i>
          <div class="tasks-text">
            <p><a href="/task-show">Welcome new hires 🎉</a></p>
            <p><small>Opened 3 days ago by <a href="">Richard Alvarez</a></small></p>
            <p><small><strong>Project: <a href="#">Daplgray</a></strong></small></p>
          </div>
        </div>
        <div class="section-right">
          <a href="#"><img src="https://avatars1.githubusercontent.com/u/8698445?v=3&s=460" alt="David Ray" class="img-circle"></a>
          <p><small><i class="fa fa-comment"></i> 14</small></p>
        </div>
      </section>
      <hr>


    </div>
  </section>
</main>
