.doc-nav-page {
  @include row();
  margin-bottom: 2em;
  .card {
    @include span-columns(11);
    @include media($medium-screen-up) {
      @include span-columns(8);
    }
  }
}

.article {
  padding: 1em;
  position: relative;
  @include media($medium-screen-up) {
    padding: 3em;
  }

  .edit-content {
    position: absolute;
    top: 0;
    right: 0;

  }
  .save-content {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  h2 {
    padding-bottom: .5em;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid $light-gray;
  }
  p, li {
    font-weight: 300;
    a {
      font-weight: 400;
      color: darken($blue, 10%)
    }
  }
  ul {
    margin-bottom: modular_scale(-1);
  }
  li {
    margin-bottom: 1em;
    @include media($medium-screen-up) {
      margin-bottom: initial;
    };
  }
}
