.doc-nav-page {
  @include row();
  margin-bottom: 2em;
  .card {
    @include span-columns(11);
    @include media($medium-screen-up) {
      @include span-columns(8);
    }
  }
}

.article {
  padding: 1em;
  position: relative;
  @include media($medium-screen-up) {
    padding: 3em;
  }

  .edit-content {
    position: absolute;
    top: 0;
    right: 0;
    button {
      border-radius: 0;
      border: 0;
    }
  }
  h2 {
    padding-bottom: .5em;
    border-bottom: 1px solid $light-gray;
  }
  p {
    font-weight: 300;
  }
}
