.comment {
  .figure {
    @include span-columns(2);
    @include media($medium-screen-up) {
      @include span-columns(1);
    }
    @include media($small-screen-down) {
      padding-left: 5px;
    };
  }
  .card {
    @include span-columns(10);
    @include media($medium-screen-up) {
      @include span-columns(9);
    };

    .comment-top {
      background-color: $secondary-background-color;
      padding: .5em;

      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: modular_scale(-1);
        margin: 0;
      }
    }
  }
}

.comment-response {
  .figure {
    @include span-columns(2);
    @include media($medium-screen-up) {
      @include span-columns(1);
      @include shift(1);
    }
  }
  .card {
    @include span-columns(10);
    @include media($medium-screen-up) {
      @include span-columns(8);
    };

    .comment-top {
      background-color: $third-background-color;
    }
  }
}
