
.dock-nav-tasks {
  @include row();
  .card {
    @include media($large-screen-up) {
      @include span-columns(10);
    }
  }
  .card-body {
    padding: 0;
  }
  .nav-tasks-filters {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid $light-gray;

    .tasks-left {
      flex: 3;
      a {
        padding-left: modular_scale(0);
        font-size: modular_scale(-2);
        @include media($medium-screen-up) {
          font-size: modular_scale(0);
        };
      }
    }
    .tasks-right {
      flex: 1;
      display: flex;
      justify-content: space-around;
    }
  }
}

.tasks-section {
  // styling
  padding: 1em .5em;
  border-bottom: 1px solid $light-gray;

  // display properties
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: $secondary-background-color;
  }
  small {
    @extend .faded;
  }
  i {
    font-size: initial;
  }
  .section-left {
    display: flex;
    flex: 3;
    align-items: center;

    i {
      flex: 1;
      text-align: center;
      font-size: modular_scale(-2);

      @include media($medium-screen-up) {
        font-size: modular_scale(0);
      }
    }
    div {
      flex: 9;
      p {
        margin: 0;
      }
    }
  }
  .section-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      flex: 1;
      text-align: center;
      img {
        width: 50%;
      }
    }
    p {
      flex: 1;
      text-align: center;
    }
  }
}

.task-show-heading {
  margin-top: 1em;

  @include span-columns(12);
  @include media($medium-screen-up) {
    @include span-columns(10);
  };
  .left {
    @include span-columns(9);
    @include media($medium-screen-up) {
      @include span-columns(8);
    }
    @include media($small-screen-down) {
      padding-left: 5px;
    };
    .sub-heading {
      display: flex;
      align-items: center;
      img {
        width: 2em;
        margin-right: modular_scale(0);
      }
      .badge {
        margin-right: modular_scale(-1);
      }
    }
  }
  .right {
    @include span-columns(3);
    @include media($medium-screen-up) {
      @include span-columns(4);
    }
    padding-bottom: 1em;

    h3 {
      font-weight: 300;
    }

    .sub-heading {
      display: flex;
      align-items: center;

      img {
        width: 2em;
        margin-right: modular_scale(0);
      }
    }
  }
}
